node_modules
bun.lockb.tmp
dist
.git
.gitignore
.env
.env.local
.env.*.local
*.md
.vscode
.idea
coverage
.nyc_output
*.log
uploads/*
generated/*
!generated/.gitkeep
!uploads/.gitkeep
Dockerfile
docker-compose.yml
.dockerignore